<nav>
    <ul class="pagination justify-content-end m-4">
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" style="font-weight: bold; color: #194582" href="?page={{ posts.previous_page_number }}">
                Anterior
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" style="font-weight: bold; color: #194582" href="#">
                {{ posts.number }} de {{ posts.paginator.num_pages }}
            </a>
        </li>
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" style="font-weight: bold; color: #194582" href="?page={{ posts.next_page_number }}">
                Siguiente
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
