{% extends "users/base.html" %}

{% block head_content %}

<title>Satnam account Reset </title>
{% endblock %}

{% block container %}



  <section class="container">
    <h3>Restablecimiento de contraseña completo</h3>
    <p>Su contraseña ha sido establecida. Puede continuar e iniciar sesión ahora.</p>
    <button type="button" class='btn btn-primary btn-block' name="button"><a style="text-decoration: none; color: white;"href="{% url 'login' %}">Ingresar</a></button>
  </section>


{% endblock %}
