
{% extends "base.html" %}
<!-- {% load static %} -->



{% block head_content %}
  <title>Satnam menu</title>
{% endblock %}

{% block container %}


  <div class="slideshow-container ">

    <div class="mySlides  fade_effect">
      <img src="{% static "img/portada_feed.jpg" %}" alt="">
      <div class="text">Tu escuela de yoga kundalini</div>
    </div>

    <div class="mySlides fade_effect">
      <img src="{% static "img/clases_en_vivo.jpg" %}" alt="">
      <div class="text">Clases en vivo </div>
    </div>

    <div class="mySlides fade_effect">
      <img src="{% static "img/portada_feed_4.jpg" %}" alt="">
    <div class="text">Empieza una nueva aventura!</div>
    </div>

    <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a> -->

  </div>

  <div class="container main">

      <div class="welcome-feed d-flex flex-column align-items-center mt-3 mb-3">
        <h1>¿Qué es satnam Yoga?</h1>

        <iframe src="https://player.vimeo.com/video/542909470?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" style="width: 70vw; height: 60vh" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Bienvenida"></iframe>
      </div>

      <section class="portada mb-3">
          <p class="portada_text">
            Diseñado para quienes buscan equilibrar su mundo exterior e interior.
            <br>
            <br>
            Sin importar la edad, ni experiencia.
            <br>
            <br>
            Es el yoga que se ajusta al ritmo de vida de cada quien.
            <br>
            <br>
            Fortalece tu cuerpo, tu mente y tu alma, y los une.
            <br>
            <br>
            Usa posturas, respiraciones, mantras y meditación, para identificar tus conflictos, eliminarlos y alcanzar tu
            realización.
          </p>
          <img src="{% static "img/portada_hatha.jpg" %}" alt="">
      </section>


  </div>

  <section class="membership container-fluid d-flex flex-column align-items-center pt-3">
        <h3>Membresía</h3>
        <h2>¡Empieza tu camino hoy!</h2>

        <div class="card_container mb-4">
          <div class="memebership_cards">
              <h3>Membresía</h3>
              <p class="membership_text">Accede a <span class="especial_text">todo el contenido</span>
              y toma clases de donde quiera que estes! A cualquier hora, cuantas veces quieras.</p>
          </div>

          <div class="memebership_cards">
              <h3>Acceso Ilimitado</h3>
              <p class="membership_cost">${{price_subs_month}} mxn</p>
              <p class="membership_text">mensual</p>
          </div>

          <div class="memebership_cards">
              <h3>Clases online</h3>
              <p class="membership_text">¡Mejora tu vida hoy!
              </p>
              <button type="button" name="button"><a id="membership_but_payment" href="{% url 'payment_home' %}">SUSCRIBIR MI MEMBRESIA</a></button>
          </div>
        </div>

        <h3 class="mt-4 mb-5">Continuamente subimos clases para ti !</h3>
   </section>

   <section class="online_clases">
     <h2>Clases en línea </h2>
     <p>Plataforma de enseñanza en línea.
        <br><br>
        Que tu agencia, la distancia o las prisas no sean excusas.
        <br><br>
        Conéctate a tus clases  desde  cualquier lugar, a cualquier <br>hora, cuantas veces quieras.
        <br><br>
        Descubre  que  puedes ejercitarte y, además, encontrar equilibrio <br> y mayor bienestar para vivir
        feliz.
        <br>
     </p>
     <button type="button" name="button"><a href="{% url 'payment_home' %}">ÚNETE AHORA</a></button>
   </section>

   <section class="class_benefition_cards mb-4">
     <h2 class="text-center mt-3 ">Clases completas de kundalini Yoga</h2>

     <div class="card_container">
        <div class="yoga_class_content">
          <img src="{% static "img/om.png" %}" alt="">
          <p class="clases_card_title">Kriya / series</p>
          <p>Ejercicios físicos y mentales, equilibria tu cuerpo, tu mente y alma.</p>
        </div>
        <div class="yoga_class_content">
          <img src="{% static "img/mind_yoga.png" %}" alt="">
          <p class="clases_card_title">Meditación</p>
          <p>Purifica tu mente, elimina la basura mental y conócete a ti  mismo.</p>
        </div>
        <div class="yoga_class_content">
          <img src="{% static "img/breathe.png" %}" alt="">
          <p class="clases_card_title">Respiración / Pranayama</p>
          <p>Revitaliza tu energía, regenera tu cuerpo e integra nuevos y mejores hábitos.</p>
        </div>
     </div>
   </section>

   <section class="beneficios_yoga">
     <h1 class="mb-3">Beneficios del kundalini yoga</h1>
     <div class="benefits_cards benefit_cards_des mt-3">
       <div class="benefit_card_item">
         <img src="{% static "img/cerebro.png" %}" alt="">
         <h3>Fortalece</h3>
         <p>Tu sistema nervioso</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/sangre.png" %}" alt="">
         <h3>Activa </h3>
         <p>Tu circulación</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/ley.png" %}" alt="">
         <h3>Equilibra</h3>
         <p>Tu sistema gandular</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/brillar.png" %}" alt="">
         <h3>Desintoxica</h3>
         <p>Tu cuerpo</p>
       </div>

       <div class="benefit_card_item benefit_card_center">
        <img  src="{% static "img/beneficios_satnam.png" %}" alt="">
       </div>


       <div class="benefit_card_item">
         <img src="{% static "img/fuerte.png" %}" alt="">
         <h3>Fortalece</h3>
         <p>Tus músculos</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/immune_system.png" %}" alt="">
         <h3>Fortalece</h3>
         <p>Tu sistema inmunológico</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/yoga_icon.png" %}" alt="">
         <h3>Libera</h3>
         <p>el estrés</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/digestion.png" %}" alt="">
         <h3>Mejora</h3>
         <p>Tu digestión</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/sueno.png" %}" alt="">
         <h3>Mejora</h3>
         <p>tu calidad de sueño</p>
       </div>
       <div class="benefit_card_item">
         <img src="{% static "img/relief.png" %}" alt="">
         <h3>Alivia</h3>
         <p>la depresión  y ansiedad</p>
       </div>
     </div>
   </section>

   <section id="tomar_una_clase">
     <div>
      <h3>¿Estás listo para empezar?</h3>
      <p>Empieza a encontrate a ti mismo. <br> Un camino hacia el bienestar.</p>
     </div>
     {% if firts_video and category %}
     <button><a href="{% url 'video_id_show' category.id firts_video.id %}"">TOMAR UNA CLASE</a></button>
     {% endif %}
   </section>

{% endblock %}
