
{% extends "base.html" %}
{% load static %}
{% block head_content %}

<title>Django + Stripe Checkout cancelled</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}

{% block container %}

<section class="section">

  <div class="container">
    {% if subscription.cancel_at_period_end == True %}
    <p>Tu subscripción ha sido cancelada.</p>
    <p> Puede visualizar el contenido hasta el termino de su subscripción {{time_left}}</p>
    {% else %}
    <p>Tu pago no se ha podido procesar </p>
    <p>Favor de corroborar información </p>
    {% endif %}
  </div>

</section>


{% endblock %}
