{% extends 'base.html' %}
{% load static %}

{% block head_content %}
  <title>Sat Nam Yoga | Store</title>

{% endblock %}


{% block container %}

<div class="mt-4 mb-3 container portada">

  <a href="https://www.myyl.com/sandylopez?fbclid=IwAR3Y6YiR9jh1uoAZeHKOtxx1-uMLrRxlS2riH4HTr6RZElK9b2_ToUhVwJc#enroll"><img src="{% static "img/portada_store.jpg" %}" alt=""></a>

</div>

<div id="main_presentation">
  <h2>¡Únete a la comunidad de Pasión con Abundancia!</h2>


  <article class="main_text">
    <p class="mt-2"> <strong>Pasión con Abundancia </strong> es una comunidad  con el objetivo  de inspirar
      a vivir con Pasión tu vida! Que descubras tu propósito que te lleva a cuidarte,  haciendote
      consciente de tu salud y emociones de manera divertida, tanto de Ti como
       de tu familia siendo feliz y llena de alegría.
       <br>
       <br>
      💓 y como lo podemos lograr?
     </p>
     <figure class="main_text_img" id="main_text_ins_img">
       <img src="{% static "img/inspiration.jpg" %}" alt="">
     </figure>
  </article>

  <article class="main_text">
     <figure class="main_text_img" id="main_text_ins_img">
       <img src="{% static "img/nature.jpg" %}" alt="">
     </figure>
     <p class="mt-2"> A través de uso y consumo de manera consciente y responsable de productos naturales,
        libres de químicos tóxicos y agresivos para nuestro cuerpo y para nuestro planeta, que nos den una
         calidad de vida sana y en armonía. y que sepas que cuentas con una gran familia aquí para cuando
         necesites apoyo.
        <br>
        <br>
        💎Que encontrarás aqui?
      </p>
  </article>

  <article class="main_text main_text_quote" >
     <p class="mt-2 main_text_center"> <strong>"En esta comunidad te invitamos a vivir de manera alegre, conciente, creativa, a tener
        experiencias realmente concientes para tu salud y bienestar de tu cuerpo, usando los productos de
        Pasión con Abundancia"</strong>
      </p>
      <div class="button">
           <a href="https://www.myyl.com/sandylopez#enroll">Inscríbite</a>
      </div>
      <p class="mt-2 main_text_center"><strong>¡Te motivaremos a que te atrevas a hacer cambios en tu estilo de vida conciente y paulatinamente!</strong>
       </p>
  </article>

  <article class="main_text_container" >
      <div class="overlay"><h3>¿Qué beneficios obtengo al comprar aceites esenciales?</h3></div>
      <img src="{% static "img/lavanda_portada.jpg" %}" alt="">

  </article>

  <article class="main_text second_publicity"  >
    <p class="mt-2 "> Ya sea que te atraiga nuestro incomparable compromiso con la calidad o la
       oportunidad de comenzar un negocio sostenible, tenemos muchas razones para que pases a formar
        parte de la familia PB.
     </p>
     <div class="button">
          <a href="https://www.myyl.com/sandylopez#enroll">Inscríbite</a>
     </div>

  </article>

  <article class="main_text">
    <p class="mt-2"> Más de <strong>600 productos</strong> que te cambian <strong>la vida</strong>,
      líneas de productos especiales para el cuidado personal, el bienestar, niños, bebés y hombres.
      <br>
      Como <strong>miembro de Pasión con Abundancia</strong>, estarás en el camino hacia un estilo de vida diferente,
       uno con el potencial de ganar productos gratis, la libertad de transformar tu futuro
        financiero y llevar soluciones transformadoras a hogares de todo el mundo.
     </p>
     <figure class="main_text_img" id="main_text_ins_img">
       <img src="{% static "img/oils_products.jpg" %}" alt="">
     </figure>
  </article>

  <article class="main_text">
     <figure class="main_text_img" id="main_text_ins_img">
       <img src="{% static "img/community.jpg" %}" alt="">
     </figure>
     <p class="mt-2"> Aprovecha las numerosas oportunidades de trabajo en red,
       exclusivas experiencias prácticas y un <strong>fuerte sentido de comunidad.</strong>
       <br>
       😁🙆‍♀️🙆‍♂️

      </p>
  </article>

  <article class="main_text main_text_quote">
     <p class="mt-2 main_text_center"> Ademas al adquirir tu cajita eres parte de <strong>Pasión con Abundancia</strong> y
        todos los productos podrás aquirirlos <strong>con un precio de 24% por debajo del precio público y
        muchas más promociones</strong>
      </p>
      <div class="button">
           <a href="https://www.myyl.com/sandylopez#enroll">Inscríbite</a>
      </div>
  </article>
</div>

{% endblock %}
