


body{
  background-color: white;

}

/* General atributes */

.especial_text{
  color:#2a99fa;
  font-weight:bold;
}

/* Navbar */

.navbar{
  display: flex;
  position: fixed;
  z-index: 1;
}

.nav_menu{
  list-style: none;
  display: flex;
  margin: 0;
  background-color: white;

}

.nav_menu li{
  margin: 0px 5px;

}

.nav_menu li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}

.navbar figure img{
  width: 15vh;
  margin: 0px 10px;
}

.navbar-user img{
  width: 10vh;
}

.navbar-user{
  margin:  0px 5px;
  background-color: white;
}

.navbar-user a{
  margin: 0px 10px;
}

.icon {
  display: none;
  font-size: 30px;
  color: #04107a
}

.user_not_authenticated{
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .nav_menu li a {
    display: none;
  }
  .navbar-user {
    display: none;
  }

  .icon{
    display: block;
  }

}

@media screen and (max-width: 768px) {
  .navbar.responsive{
    position: relative;
  }
  .navbar.responsive.icon{
    position: absolute;
    right:0;
    top:0;

  }

  .navbar.responsive .nav_menu li a {
    display: block;
  }

  .navbar.responsive .nav_menu {
    position: absolute ;
    right: 0vh;
    top: 30vh;
    flex-direction: column;
  }
  .navbar.responsive .navbar-user {
    display: block;
    position: absolute ;
    right: 0vh;
    top: 15vh;
    margin-right: 0px;
    height: 15vh;
    width: 22.59vh;
    padding-left:5%;
  }


}


/* FOOTER */
.footer{
  background-color: #194582;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 20vh;
}

.footer p{
  font-size: 35px;
  font-weight: 500;
  margin: 0px
}

.logo_social{
  display: inline-block;
}

.logo_social a img{
  width: 35px;
  margin: 5px 5px;
}

.iconos {
  margin-top: 5px;
  font-size: 5px;
}

/* FEED SECTION  */
.mySlides {display: none}

.mySlides img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter: brightness(65%);}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  z-index: 0;
}

.text {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  right: 25%;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Hace el texto mas pequeño en movil  */
@media only screen and (max-width: 768px) {

  .text {
    font-size: 30px;
    right: 0%;
    font-weight: bold;
    bottom: 55%;
  }

}

/* Animacion de fade  */
.fade_effect {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* PORTADA HATHA  */

.portada{
  font-size: 20px;
  display: flex;
}

.portada img{
  padding: 15px;
  object-fit: cover;
  border: 1px solid gray;
  box-shadow: -2px 3px 5px gray;
  margin-left: 5px;
}

/* MEMBESHIP SECTION  */
.membership{
  background-color: #194582;
  color: white;
  height: 70vh;
}

.card_container{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;

}



.memebership_cards{
  width: 25%;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 10px;
  text-align: center;
}

.membership_text{
  font-size: 20px;
}

.membership_cost{
  color: #2a99fa;
  font-size: 40px;
  margin: 0;
}

.memebership_cards button{
  border-radius: 10px;
  background-color: #1aad35;
  padding: 5px;
  border: none;
}

.memebership_cards button a{
  text-decoration: none;
  color: white;

}


/* ONLINE CLASES */

.online_clases{
  background-image: linear-gradient(to right, rgba(44, 80, 199, 1.0), rgba(0, 0, 0, 0)), url('../img/online_clasess.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-position: 50% 70%;
  padding: 10px;
  padding-left: 20px;
  color: white;
  padding-top: 20px;
  font-size: 20px;
}

.online_clases button{
  border-radius: 10px;
  border: none;
  padding: 10px;
}

/* CLASES DE YOGA COMPLETAS */

.class_benefition_cards{

}

.yoga_class_content{
  border: 1px solid #AARRGGBB;
  margin: 0px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px  8px #161515;
  height: 40vh;
  width: 25vw;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yoga_class_content .clases_card_title{
  text-align: center;
  color: #2a99fa;
  font-weight: 400;
}

.yoga_class_content img{
  height: 15vh;
  width: 10vw;
  
}

@media only screen and (max-width: 768px) {


}


/* BENEFICIOS DEL YOGA */
.beneficios_yoga{
  text-align: center;
}


.benefits_cards{
  display: flex;
  justify-content: center;
  position: relative;
}


.benefit_cards_des{
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
}

.benefit_card_item img{
  width: 50px;
}

.benefit_card_center img{
  width: 20vw;
  height: 60vh;
}

.benefit_card_item{
  /* border: 1px solid red; */
}

.benefit_card_item:nth-of-type(1){
  grid-column: 1/ span 3;
}

.benefit_card_item:nth-of-type(5){
  grid-row: 2 / span 3;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
}


/* TOMAR CLASES  */

#tomar_una_clase{
  background: #37393d;
  color: white;
  padding: 3%;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#tomar_una_clase button{
  /* height: 30px; */
  border-radius: 10px;
  padding: 10px;
}

#tomar_una_clase a{
  text-decoration: none;
  color: #2a99fa;
}
