

body{
  margin: 0;
  padding: 0;
}

figure{
  margin: 0;
  padding: 0;
}
/* navbar */

.nav_signals .logo img{
    width: 9vw;
}

.nav_signals{
  display: flex;
  padding: 0% 5%;
  align-items: center;
  justify-content: space-between;
}

.topnav img{
    width: 3vw;
    margin-left: 15px;
}

.topnav button{
  background-color: white;
  border: none;
  font-size: 25px;
}

.topnav input{
  width: 20vw;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  color: black;
  height: 6vh
}

::placeholder{
  color: black
}

#Search_bar{
  margin-right: 5px;
}

/* Submenu */

.nav_submenu{
  display: flex;
  justify-content: space-between;
  background-color: #194582;
  color: white;
  height: 10vh;
  margin-top: 0;
  align-items: center;
}

.nav_submenu_list{
  list-style: none;
  margin: 0;
  margin-left: .5%;

}
.nav_submenu_list li{
  display: inline-block;
  margin: 5px;
  font-size: 18px;
  font-weight: 500;
  font-weight: 550;
}

.nav_submenu_list li:hover{
  color: #84848a
}

.nav_submenu h5{
  margin-right: 5%;
}

.nav_submenu h5 a{
  text-decoration: none;
  color: white;

}

.nav_submenu h5 a:hover{
  text-decoration: none;

  color: #84848a;
}

/* Portada Store  */


.portada  a img{
  margin: 0;
  width: 100%;
}

#main_presentation{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main_text{
  display: flex;
  padding: 0% 5%;;
  font-size: 20px;
  margin-top: 0;
}
.main_text p{
  width: 50%;
  margin: 0% 2%;

}


.main_text_img{
  margin: 0;
  padding: 0;
  width: 50%;
}

.main_text_img img{
  width: 100%;
  border-radius: 10px;
}

#main_text_ins_img img{
  height: 80%;
}

.main_text_quote{
  padding: 2% 20%;
  flex-direction: column;
  align-items: center;
}

.main_text_quote .main_text_center{
  text-align: center;
}
.main_text_quote p{
  width: 100%;
}

.main_text_quote button{
  margin: 10px 0px;;
  border-radius: 10px;
  padding: 5px;
  background-color: #194582;

  width: 20%;
  align-self: center;
  text-decoration: none;
  border: none;
}

.main_text_quote button:hover{
  background-color: white;
  border: solid 1px black;
}
.main_text_quote button a{
  color: white;
  text-decoration: none;
}
.main_text_quote button a:hover{
  color: #194582;
}


.main_text button{
  margin: 10px 0px;;
  border-radius: 10px;
  padding: 5px;
  background-color: #194582;

  width: 20%;
  align-self: center;
  text-decoration: none;
  border: none;

}

.button{
  text-align: center;
}

.main_text .button{
  margin: 10px 0px;;
  border-radius: 10px;
  padding: 5px;
  background-color: #194582;

  width: 20%;
  align-self: center;
  text-decoration: none;
  border: none;
  box-shadow: 2px 2px 4px #000000;

}

.main_text .button a:hover{
  color: #194582;
}

.main_text .button:hover{
  background-color: white;
  border: solid 1px black;
}

.main_text .button a{
  color: white;
  display: block;
  text-decoration: none;
  width: 100%;
}

.second_publicity{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main_text_container{
  position: relative;
  height: 95vh;
  width: 100%;
}

.main_text_container img{
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.overlay{
  background: rgba(255, 255, 255, .3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items:center;
}

.main_text_container h3{
  position: absolute;
  font-size: 45px;
  font-weight: bold;
}

.footer{
  background-color: #194582;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  width: 100%;
  height: 20vh;
}

.footer p{
  font-size: 35px;
  font-weight: 500;
  margin: 0px
}

.logo_social{
  display: inline-block;
}

.logo_social a img{
  width: 35px;
  margin: 5px 5px;
}

.iconos {
  margin-top: 5px;
  font-size: 5px;
}
