{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>horarios</title>
{% endblock %}

{% block container %}
  <table class="table">
    <thead class="thead-dark">
      <tr>

        <th scope="col">lunes</th>
        <th scope="col">Martes</th>
        <th scope="col">Miércoles</th>
        <th scope="col">Jueves</th>
        <th scope="col">Viernes</th>
        <th scope="col">Sábado</th>

      </tr>
    </thead>
      <tbody>
        
        <!-- <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr> -->
      </tbody>
      </table>




{% endblock %}
