{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>horarios</title>
{% endblock %}

{% block container %}
  <div class="container">
    {% for schedule in schedules %}
      <div class="schedule">
          <h2>{{schedule.name}}</h2>
          <figure>
            <img src="{{schedule.image.url}}" alt="Horario">
          </figure>
      </div>
    {% endfor %}
    <div class="contact_info">
        <h2>Contáctanos</h2>
        <p>Tel:+52 33-1418-3347</p>
        <p>Email: satnamyogajal@hotmail.com</p>
    </div>
  </div>
{% endblock %}
