{% extends "users/base.html" %}

{% block head_content %}

<title>Satnam account Reset </title>
{% endblock %}

{% block container %}



  <section class="container">
    <p>¿Olvidaste tu contraseña ?  Por favor ingresa un email para restablecerla </p>
    <form method="post">
          {% csrf_token %}
          <div class="form-group">
              <label>Email</label>
              <input
                  class="form-control"
                  type="text"
                  name="email"
                  placeholder="correo electrónico"
              />
          </div>
          <button class= "btn btn-primary btn-block" type="submit" >Mandar email</button>
      </form>
  </section>


{% endblock %}
